.home {
    margin: 4rem 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home .title{
    font-size: 6rem;
    font-weight: 800;
    font-style: italic;
}

.subtitle {

}

.subtitle_sentence {
    margin: .5rem;
}

.subtitle_sentence_word {
    margin: 0 .125rem;
    font-size: 1.5rem;
    font-weight: 400;
    
}
.subtitle_sentence_link {
    margin: 0 .125rem;
    font-size: 1.5rem;
    font-weight: 400;
    
}