.project {
    width: 75%;
    margin: 0 auto;
}

.title_with_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: -1rem;
    
}

.title {
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
    margin-left: 1rem;
}

.logo {
    width: 3rem;
}

.description {
    padding-left: 5rem;
    font-size: 1rem;
}

.project_images {
    padding-left: 5rem;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.project_image {
    border: 1px solid black;
    width: 400px;
    height: 400px;
    margin-right: 1rem;
}