.header {
    display: flex;
    flex-direction: column;
    margin: 2rem 5%;
}

.header_name {
    font-size: 2rem;
    height: 2rem;
    width: 100%;
    text-align: center;
    font-family: "Reenie Beanie";
}

.header_navigation {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.navigation_item {
    margin: 1rem;
    font-style: Helvetica;
    color: inherit;
    text-decoration: none;
}

.active {
    color: red;
    
}