.header {
    display: flex;
    flex-direction: row;
    margin: 2rem 10%;
    justify-content: space-between;
}

.header .header_name {
    font-size: 2rem;
    height: 2rem;
    text-align: center;
    font-family: "Reenie Beanie";
}

.header .header_navigation {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

.header .navigation_item {
    margin: 1rem;
    font-style: Helvetica;
    color: inherit;
    text-decoration: none;
}

.header .active {
    color: red;
    
}